<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quran</title>
</head>

<body>
    <h1>Hello Nodejs</h1>
    <a href="/quran">go to quran page</a>
    <a href="/quran/verse">Let's Read</a>
</body>

</html>